
/*HEADERS*/

header{

    nav{
        font-family: $textoPrincipal;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

            .nav_links{
                display: flex;
            }
    
            a{
                margin: 0 20px;
                letter-spacing: $letterSpacing;

                    &:hover{
                        color: $colorPrincipal;
                    }
            }
            
            .nav__anchor{
                color:$colorSecundario;
            }
    
            .logo{
                width: 120px;
            }
    }
}

header{
    
    .wave__conteiner--reverse{
        transform: rotate(180deg);
    }
}

/*$tablets: 700px;*/

/*MEDIA QUERIES
.nav_links{
    
        @media (max-width: $tablets){
            display: flex;
            flex-direction: column ;
            align-items: center;

    
    }
}*/