
.dire{
    color: $colorSecundario;
    letter-spacing: $letterSpacing;
    font-family: $textoPrincipal;
    font-size: 20px;
    padding-top: 10%;
    padding-bottom: 5%;

}

.tel{
    color: $colorSecundario;
    letter-spacing: $letterSpacing;
    font-family: $textoPrincipal;
    font-size: 20px;
    padding-bottom: 10%;
    padding-top: 5%;
}

.contacto{
    padding-left: 15%;
}



@media screen and (max-width: 700px) {

    
}