
.ventas{
    display:flex;
    justify-content: center;
    color: $colorPrincipal;
    letter-spacing: $letterSpacing;
    padding: 5%;
}

.col{
    padding-left: 5%;
    padding-right: 5%;
}
.marcas{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    color: $colorPrincipal;
    letter-spacing: $letterSpacing;
    
}

.food{
    padding-left: 10%;
}

/*@media screen and (max-width: 700px) {

    
}*/